flow.json
[
    {
        "id": "348fc81415b95f23",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "3759fe67.7b9ee2",
        "type": "tab",
        "label": "radio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b95862809bf737a0",
        "type": "tab",
        "label": "Startup",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc01bad8ddff5abb",
        "type": "tab",
        "label": "Volume",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0288e21abfc3a4a0",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7bd611cbf2a1aa54",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6e1255c6ef33baf",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "979ccdc6c31f7dfc",
        "type": "group",
        "z": "3759fe67.7b9ee2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "881c0a7c.ee1848",
            "d83a4165.03ede",
            "1c5f7f7f.03c551",
            "12f6e15b.23b02f",
            "77c52a50.4ecdb4",
            "f02ff6bf.b164e8",
            "d6ae2ca2.b2b9",
            "a2dc2f09.18f09",
            "d7a18747.cfdc68",
            "0a990f96e7925184",
            "6fcfb55172d735c3",
            "06196e65ad487c72",
            "aefb1af18c4cc1b5",
            "ae6d61a0d991514e"
        ],
        "x": 34,
        "y": 519
    },
    {
        "id": "b16d2044895ba57c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d59a60d.eac0c8",
        "type": "mpd-server",
        "host": "192.168.1.198",
        "port": "6600"
    },
    {
        "id": "c95792e6.e5d7c",
        "type": "ui_group",
        "name": "Control",
        "tab": "6c1d062c.feae98",
        "order": 1,
        "disp": false,
        "width": 8
    },
    {
        "id": "9f8f49b7.632f88",
        "type": "ui_group",
        "name": "Zenderkeuze",
        "tab": "6c1d062c.feae98",
        "order": 3,
        "disp": false,
        "width": 8
    },
    {
        "id": "e5a71767.1a27d8",
        "type": "ui_group",
        "name": "Radio",
        "tab": "6c1d062c.feae98",
        "order": 2,
        "disp": false,
        "width": 8
    },
    {
        "id": "6c1d062c.feae98",
        "type": "ui_tab",
        "name": "Web Radio",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "cff511fa.bd1cc",
        "type": "ui_group",
        "name": "Radio",
        "tab": "23cd7a71.311de6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ccfe28f3.9343a8",
        "type": "mpd-server",
        "host": "192.168.1.198",
        "port": "6600"
    },
    {
        "id": "f79bab65.368118",
        "type": "ui_group",
        "name": "Now Playing",
        "tab": "23cd7a71.311de6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cd4131b9.92a1e",
        "type": "ui_group",
        "name": "Music",
        "tab": "23cd7a71.311de6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "23cd7a71.311de6",
        "type": "ui_tab",
        "name": "Radio/Music",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "f7e9d0df.b98c",
        "type": "ui_group",
        "name": "",
        "tab": "5f3fa8f3.c6bcb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3433dfa4.4f671",
        "type": "ui_group",
        "name": "",
        "tab": "7847d684.265538",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34a0d767.dc2698",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.198",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5f3fa8f3.c6bcb8",
        "type": "ui_tab",
        "name": "Main Menu",
        "icon": "dashboard",
        "order": 5,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "7847d684.265538",
        "type": "ui_tab",
        "name": "Module1",
        "icon": "dashboard",
        "order": 7,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "b81334ef34f56d2e",
        "type": "ui_group",
        "name": "Radio Controls",
        "tab": "6c1d062c.feae98",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57b4047bc7ec48cd",
        "type": "mqtt-broker",
        "name": "Pi3",
        "broker": "192.168.1.195",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9f21278f.22b758",
        "type": "ui_dropdown",
        "z": "348fc81415b95f23",
        "name": "",
        "label": "Station:",
        "place": "Select option",
        "group": "cff511fa.bd1cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Radio 1",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Radio 2",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Radio 3",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Radio 4",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Radio 5",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Radio 6",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Classic Rock",
                "value": "6",
                "type": "str"
            },
            {
                "label": "Planet Rock",
                "value": "7",
                "type": "str"
            },
            {
                "label": "Union Jack",
                "value": "8",
                "type": "str"
            },
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "a126988c.d76c88"
            ]
        ]
    },
    {
        "id": "a126988c.d76c88",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "play x",
        "func": "var temp = msg.payload;\n\ntemp = \"play \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1786b616.ee5e3a",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Title",
        "func": "var temp = msg.payload.currentsong.Title;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 401,
        "y": 54,
        "wires": [
            [
                "e5e3b77b.3ad4b8"
            ]
        ]
    },
    {
        "id": "e5e3b77b.3ad4b8",
        "type": "ui_text",
        "z": "348fc81415b95f23",
        "group": "f79bab65.368118",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Track:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 706,
        "y": 55,
        "wires": []
    },
    {
        "id": "f3a3fe7e.386b1",
        "type": "ui_dropdown",
        "z": "348fc81415b95f23",
        "name": "",
        "label": "Add Playlist:",
        "place": "Select option",
        "group": "cd4131b9.92a1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "None",
                "value": "None",
                "type": "str"
            },
            {
                "label": "Taj Mahal",
                "value": "TajMahal",
                "type": "str"
            },
            {
                "label": "The Nice",
                "value": "TheNice",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 408,
        "y": 554,
        "wires": [
            [
                "346fb1fa.aebc2e",
                "a4d2b058.86043"
            ]
        ]
    },
    {
        "id": "346fb1fa.aebc2e",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "load",
        "func": "var temp = msg.payload;\n\nif(temp===\"None\") return null;\n\ntemp = \"load \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 568,
        "y": 553,
        "wires": [
            []
        ]
    },
    {
        "id": "efa1fd14.1b9bc",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Artist",
        "func": "var temp = msg.payload.currentsong.Artist;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 401,
        "y": 100,
        "wires": [
            [
                "8da9f70d.221338"
            ]
        ]
    },
    {
        "id": "9cb5813a.c35c8",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Album",
        "func": "var temp = msg.payload.currentsong.Album;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 403,
        "y": 146,
        "wires": [
            [
                "c17fcf5b.c40a4"
            ]
        ]
    },
    {
        "id": "c17fcf5b.c40a4",
        "type": "ui_text",
        "z": "348fc81415b95f23",
        "group": "cd4131b9.92a1e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Album",
        "label": "Album:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 706,
        "y": 144,
        "wires": []
    },
    {
        "id": "8da9f70d.221338",
        "type": "ui_text",
        "z": "348fc81415b95f23",
        "group": "cd4131b9.92a1e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Artist",
        "label": "Artist:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 706,
        "y": 98,
        "wires": []
    },
    {
        "id": "ac5a7f4f.cac37",
        "type": "ui_button",
        "z": "348fc81415b95f23",
        "name": "previous",
        "group": "cd4131b9.92a1e",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-step-backward",
        "payload": "previous",
        "payloadType": "str",
        "topic": "",
        "x": 392,
        "y": 664,
        "wires": [
            []
        ]
    },
    {
        "id": "efa5885f.9ec668",
        "type": "ui_button",
        "z": "348fc81415b95f23",
        "name": "next",
        "group": "cd4131b9.92a1e",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-step-forward",
        "payload": "next",
        "payloadType": "str",
        "topic": "",
        "x": 567,
        "y": 665,
        "wires": [
            []
        ]
    },
    {
        "id": "d4d226f4.6a0448",
        "type": "ui_button",
        "z": "348fc81415b95f23",
        "name": "",
        "group": "cd4131b9.92a1e",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Clear list",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "",
        "x": 412,
        "y": 617,
        "wires": [
            [
                "93a65892.964f98"
            ]
        ]
    },
    {
        "id": "2ae4d76e.9a1628",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "Random",
        "label": "",
        "group": "cd4131b9.92a1e",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "random 1",
        "onvalueType": "str",
        "onicon": "fa-random",
        "oncolor": "#00FF00",
        "offvalue": "random 0",
        "offvalueType": "str",
        "officon": "fa-random",
        "offcolor": "#FF0000",
        "x": 457,
        "y": 492,
        "wires": [
            []
        ]
    },
    {
        "id": "ac38d0e4.5b5ce",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "PlayPause",
        "label": "",
        "group": "cd4131b9.92a1e",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "play",
        "onvalueType": "str",
        "onicon": "fa-play",
        "oncolor": "#FFFFFF",
        "offvalue": "pause",
        "offvalueType": "str",
        "officon": "fa-pause",
        "offcolor": "#FFFFFF",
        "x": 465,
        "y": 446,
        "wires": [
            []
        ]
    },
    {
        "id": "be23d26d.08085",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "Radio",
        "label": "",
        "group": "f79bab65.368118",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "fa-rss-square",
        "oncolor": "#00FF00",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "fa-rss-square",
        "offcolor": "#FF0000",
        "x": 73,
        "y": 307,
        "wires": [
            [
                "10e7765d.ecbf9a"
            ]
        ]
    },
    {
        "id": "b257caf0.f0c298",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "Music",
        "label": "",
        "group": "f79bab65.368118",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "my_library_music",
        "oncolor": "#00FF00",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "my_library_music",
        "offcolor": "#FF0000",
        "x": 76,
        "y": 422,
        "wires": [
            [
                "cfc9a604.5a05f8"
            ]
        ]
    },
    {
        "id": "10e7765d.ecbf9a",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Radio on/off",
        "func": "var temp = msg.payload;\n\nif(temp===\"On\") {\n    temp=\"Off\";\n\nvar msg1 = {\n    payload:temp\n};\n\nvar msg2 = {\n    payload: \"load stations\"\n};\n\nvar msg3 = {\n    payload: \"3\"\n};\n\nreturn [msg1,msg2,msg3];\n}\nvar msg2 = {\n    payload: \"clear\"\n};\nreturn [null,msg2, null];",
        "outputs": "3",
        "noerr": 0,
        "x": 221,
        "y": 307,
        "wires": [
            [
                "b257caf0.f0c298"
            ],
            [],
            [
                "458aa80.4965d58"
            ]
        ]
    },
    {
        "id": "cfc9a604.5a05f8",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Music on/off",
        "func": "var temp = msg.payload;\n\nif(temp===\"On\") {\n    temp=\"Off\";\n\nvar msg1 = {\n    payload:temp\n};\n\nvar msg3 = { payload: \"pause\"};\n\nvar msg4 = {payload: \"None\"};\n\nvar msg5 = {payload:\"random 0\"}\n\nreturn [msg1,null,msg3,msg4,msg5];\n}\nvar msg2 = {\n    payload: \"clear\"\n};\nreturn [null,msg2,null,null,null];",
        "outputs": "5",
        "noerr": 0,
        "x": 224,
        "y": 422,
        "wires": [
            [
                "be23d26d.08085"
            ],
            [],
            [
                "ac38d0e4.5b5ce"
            ],
            [
                "f3a3fe7e.386b1"
            ],
            [
                "2ae4d76e.9a1628"
            ]
        ]
    },
    {
        "id": "458aa80.4965d58",
        "type": "delay",
        "z": "348fc81415b95f23",
        "name": "100ms",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 491,
        "y": 324,
        "wires": [
            [
                "9f21278f.22b758"
            ]
        ]
    },
    {
        "id": "a4d2b058.86043",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "pause",
        "func": "var msg = {payload: \"pause\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 247,
        "y": 501,
        "wires": [
            [
                "ac38d0e4.5b5ce"
            ]
        ]
    },
    {
        "id": "93a65892.964f98",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "None",
        "func": "var msg = {payload: \"None\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 244,
        "y": 554,
        "wires": [
            [
                "f3a3fe7e.386b1"
            ]
        ]
    },
    {
        "id": "2adf1de1.63b102",
        "type": "ui_slider",
        "z": "348fc81415b95f23",
        "name": "Volume",
        "label": "",
        "group": "f79bab65.368118",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 79,
        "y": 200,
        "wires": [
            [
                "86c9ddb9.939c2"
            ]
        ]
    },
    {
        "id": "86c9ddb9.939c2",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "setvol",
        "func": "var temp = msg.payload;\n\ntemp = \"setvol \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 196,
        "wires": [
            []
        ]
    },
    {
        "id": "ec33d4cb.26cea8",
        "type": "mpd out",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "topic": "",
        "server": "ccfe28f3.9343a8",
        "x": 420,
        "y": 460,
        "wires": [
            [
                "66fce2f5.ce706c",
                "ab1570d5f9cbaf1f",
                "940d3c1a200a5085"
            ]
        ]
    },
    {
        "id": "8538be0a.a720c",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "play",
        "group": "c95792e6.e5d7c",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "play",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "c3d3bd55.edf2a",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "stop",
        "group": "c95792e6.e5d7c",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "395cdf00.36a0e2",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "previous",
        "group": "c95792e6.e5d7c",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-backward",
        "payload": "previous",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "eec9e028.9f33b",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "next",
        "group": "c95792e6.e5d7c",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-forward",
        "payload": "next",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "8e3320b3.beb8",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "Stop playing",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "fdaec1.0dbe514",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "pause",
        "group": "c95792e6.e5d7c",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-pause",
        "payload": "pause",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "a3b2925b.5504",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "setvol 100",
        "payloadType": "str",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "1c5f7f7f.03c551",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "WOUB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 3",
        "payloadType": "str",
        "topic": "3",
        "topicType": "str",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "12f6e15b.23b02f",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Folk Alley",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 4",
        "payloadType": "str",
        "topic": "4",
        "topicType": "str",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "df9f59a2.8de248",
        "type": "ui_template",
        "z": "3759fe67.7b9ee2",
        "group": "c95792e6.e5d7c",
        "name": "Currently Playing",
        "order": 1,
        "width": 8,
        "height": 2,
        "format": "<!DOCTYPE html> \n<div>\n    <h3>{{msg.payload.status.state}} channel\n    {{msg.payload.currentsong.Pos}}\n    {{msg.payload.currentsong.Name}}</h3>\n    <p></p>\n    <h4>{{msg.payload.currentsong.Title}}</h4>\n</div>\n",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ac0a38c3.1bc338",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "volume up",
        "group": "c95792e6.e5d7c",
        "order": 3,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-volume-up",
        "payload": "volume +2",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 70,
        "y": 380,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "546f217d.12b28",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "volume down",
        "group": "c95792e6.e5d7c",
        "order": 2,
        "width": "2",
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-volume-down",
        "payload": "volume -2",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "e2486a00.bb5c18",
        "type": "ui_template",
        "z": "3759fe67.7b9ee2",
        "group": "e5a71767.1a27d8",
        "name": "volume",
        "order": 1,
        "width": 8,
        "height": 1,
        "format": "<!DOCTYPE html> \n<div>\n    <h4>Volume Level {{msg.payload.status.volume}}%</h4>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "881c0a7c.ee1848",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "89.7 News",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 1",
        "payloadType": "str",
        "topic": "1",
        "topicType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3",
                "16c0eedd98a7a64e"
            ]
        ]
    },
    {
        "id": "d83a4165.03ede",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Classical 101",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 2",
        "payloadType": "str",
        "topic": "2",
        "topicType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "77c52a50.4ecdb4",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "The Globe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 5",
        "payloadType": "str",
        "topic": "5",
        "topicType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "f02ff6bf.b164e8",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "WCBE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 6",
        "payloadType": "str",
        "topic": "6",
        "topicType": "str",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "d6ae2ca2.b2b9",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Cleveland Classical Music",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 7",
        "payloadType": "str",
        "topic": "7",
        "topicType": "str",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "a2dc2f09.18f09",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Toledo The River",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 8",
        "payloadType": "str",
        "topic": "8",
        "topicType": "str",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "d7a18747.cfdc68",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "BBC World Service",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 9",
        "payloadType": "str",
        "topic": "9",
        "topicType": "str",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "aade4bbf.9cd4a8",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 19,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Radio 5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "play 10",
        "payloadType": "str",
        "topic": "10",
        "x": 80,
        "y": 1060,
        "wires": [
            [
                "0a990f96e7925184"
            ]
        ]
    },
    {
        "id": "c6bbf887.f89ae8",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "clear database",
        "props": [
            {
                "p": "payload",
                "v": "clear",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "clear",
        "payloadType": "str",
        "x": 140,
        "y": 74,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "da16ba75.7964f8",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "load playlist radio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "load stations",
        "payloadType": "str",
        "x": 139,
        "y": 108,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "fd1329c3.7fb778",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "play radio 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "play 0",
        "payloadType": "str",
        "x": 129,
        "y": 142,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "8ed03f54.1cae7",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 1 -",
        "info": "",
        "x": 294,
        "y": 40,
        "wires": []
    },
    {
        "id": "75d8660c.c0ba48",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 2 -",
        "info": "",
        "x": 295,
        "y": 74,
        "wires": []
    },
    {
        "id": "24e42fc0.b332c",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 3 -",
        "info": "",
        "x": 295,
        "y": 108,
        "wires": []
    },
    {
        "id": "b7a06fcd.807d6",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 4 -",
        "info": "",
        "x": 295,
        "y": 142,
        "wires": []
    },
    {
        "id": "c4734f74.b49be",
        "type": "mpd in",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "e2486a00.bb5c18",
                "a7394370bf83b35a"
            ]
        ]
    },
    {
        "id": "deaeff28.27577",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 2,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "e8493acd.2ee8c8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 4,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "66fce2f5.ce706c",
        "type": "switch",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 22,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "a119725f.b8c0d"
            ],
            [
                "8734da82.1b1f08"
            ],
            [
                "2d165e17.4ab592"
            ],
            [
                "35d63540.b3f32a"
            ],
            [
                "d491b198.cf1c"
            ],
            [
                "e5b0bc0a.08dfb"
            ],
            [
                "a9b5278.69f33d8"
            ],
            [
                "b971c6ac.fb4cb8"
            ],
            [
                "43492de2.047894"
            ],
            [
                "37f366c1.7478aa"
            ],
            [
                "9b8ba774.3cb5a8"
            ],
            [
                "32b4423d.1fbdce"
            ],
            [
                "2b585705.a47558"
            ],
            [
                "e90c7de1.d7bbc"
            ],
            [
                "351b7bef.6944b4"
            ],
            [
                "4c9ed121.c6d38"
            ],
            [
                "31350292.2ff40e"
            ],
            [
                "ab33aef.26fbc5"
            ],
            [
                "13bcee51.61dae2"
            ],
            [
                "5b900639.835578"
            ],
            [],
            []
        ]
    },
    {
        "id": "a119725f.b8c0d",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "deaeff28.27577"
            ]
        ]
    },
    {
        "id": "8734da82.1b1f08",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 160,
        "wires": [
            [
                "deaeff28.27577"
            ]
        ]
    },
    {
        "id": "2d165e17.4ab592",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "e8493acd.2ee8c8"
            ]
        ]
    },
    {
        "id": "35d63540.b3f32a",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "e8493acd.2ee8c8"
            ]
        ]
    },
    {
        "id": "d491b198.cf1c",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "80061e72.51e19"
            ]
        ]
    },
    {
        "id": "e5b0bc0a.08dfb",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "80061e72.51e19"
            ]
        ]
    },
    {
        "id": "a9b5278.69f33d8",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "d7a36558.2e1248"
            ]
        ]
    },
    {
        "id": "b971c6ac.fb4cb8",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "d7a36558.2e1248"
            ]
        ]
    },
    {
        "id": "43492de2.047894",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "fba79c03.426ce"
            ]
        ]
    },
    {
        "id": "fba79c03.426ce",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 10,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "80061e72.51e19",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 6,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7a36558.2e1248",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 8,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "37f366c1.7478aa",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 320,
        "wires": [
            [
                "fba79c03.426ce"
            ]
        ]
    },
    {
        "id": "95715cea.aced4",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 12,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "b716ca2b.722bf8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 14,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b8ba774.3cb5a8",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "95715cea.aced4"
            ]
        ]
    },
    {
        "id": "32b4423d.1fbdce",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "95715cea.aced4"
            ]
        ]
    },
    {
        "id": "2b585705.a47558",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "b716ca2b.722bf8"
            ]
        ]
    },
    {
        "id": "e90c7de1.d7bbc",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "b716ca2b.722bf8"
            ]
        ]
    },
    {
        "id": "351b7bef.6944b4",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "c6e8a157.93f64"
            ]
        ]
    },
    {
        "id": "4c9ed121.c6d38",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 440,
        "wires": [
            [
                "c6e8a157.93f64"
            ]
        ]
    },
    {
        "id": "31350292.2ff40e",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "8117f672.8b23a8"
            ]
        ]
    },
    {
        "id": "ab33aef.26fbc5",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 480,
        "wires": [
            [
                "8117f672.8b23a8"
            ]
        ]
    },
    {
        "id": "13bcee51.61dae2",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "7ef916d0.6ea4c8"
            ]
        ]
    },
    {
        "id": "7ef916d0.6ea4c8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 20,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 500,
        "wires": []
    },
    {
        "id": "c6e8a157.93f64",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 16,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "8117f672.8b23a8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 18,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "5b900639.835578",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 520,
        "wires": [
            [
                "7ef916d0.6ea4c8"
            ]
        ]
    },
    {
        "id": "06196e65ad487c72",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "Clear Playlist",
        "group": "e5a71767.1a27d8",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backspace",
        "payload": "clear",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "168e3012fcf38d4e",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 840,
        "wires": []
    },
    {
        "id": "0a990f96e7925184",
        "type": "trigger",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 780,
        "wires": [
            [
                "168e3012fcf38d4e",
                "aefb1af18c4cc1b5"
            ]
        ]
    },
    {
        "id": "e087bec7beb7223c",
        "type": "switch",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2b41e55c6721654c",
        "type": "batch",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 690,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6fcfb55172d735c3",
        "type": "trigger",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "op1": "clear",
        "op2": "load stations",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "ec33d4cb.26cea8",
                "ae6d61a0d991514e"
            ]
        ]
    },
    {
        "id": "ab1570d5f9cbaf1f",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "aefb1af18c4cc1b5",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "Change Station number",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 1",
                "fromt": "str",
                "to": "play 0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 2",
                "fromt": "str",
                "to": "play 1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 3",
                "fromt": "str",
                "to": "play 2",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 4",
                "fromt": "str",
                "to": "play 5",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 6",
                "fromt": "str",
                "to": "play 5",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 7",
                "fromt": "str",
                "to": "play 6",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 8",
                "fromt": "str",
                "to": "play 7",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 9",
                "fromt": "str",
                "to": "play 8",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 10",
                "fromt": "str",
                "to": "play 9",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 900,
        "wires": [
            [
                "e0b9bff7bc2f83af",
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "16c0eedd98a7a64e",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 431,
        "y": 703,
        "wires": []
    },
    {
        "id": "ae6d61a0d991514e",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "e0b9bff7bc2f83af",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 900,
        "wires": []
    },
    {
        "id": "940d3c1a200a5085",
        "type": "ui_text",
        "z": "3759fe67.7b9ee2",
        "group": "c95792e6.e5d7c",
        "order": 8,
        "width": "3",
        "height": "1",
        "name": "Playing",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "a7394370bf83b35a",
        "type": "split",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "df9f59a2.8de248",
                "05ceea8d53c5f4ec"
            ]
        ]
    },
    {
        "id": "05ceea8d53c5f4ec",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "994c3125da883795",
        "type": "mpd out",
        "z": "b95862809bf737a0",
        "name": "",
        "topic": "",
        "server": "ccfe28f3.9343a8",
        "x": 1300,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "394c974249180943",
        "type": "inject",
        "z": "b95862809bf737a0",
        "name": "Power On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "ec56be5cd5108ef9"
            ]
        ]
    },
    {
        "id": "611b9f1e4f9ccfeb",
        "type": "trigger",
        "z": "b95862809bf737a0",
        "name": "Play First Song in Que, set volume to 55",
        "op1": "play 0 ",
        "op2": "setvol 55",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 960,
        "y": 360,
        "wires": [
            [
                "994c3125da883795"
            ]
        ]
    },
    {
        "id": "6437470a4cdacf8d",
        "type": "change",
        "z": "b95862809bf737a0",
        "name": "Change On to Load Classical 101",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "load stations 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 460,
        "wires": [
            [
                "611b9f1e4f9ccfeb",
                "fb1befe280b7bf70",
                "994c3125da883795"
            ]
        ]
    },
    {
        "id": "ec56be5cd5108ef9",
        "type": "trigger",
        "z": "b95862809bf737a0",
        "name": "Clear playlist, then allow \"On\" to travel through,.",
        "op1": "clear",
        "op2": "",
        "op1type": "str",
        "op2type": "pay",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "994c3125da883795"
            ],
            [
                "6437470a4cdacf8d"
            ]
        ]
    },
    {
        "id": "fb1befe280b7bf70",
        "type": "debug",
        "z": "b95862809bf737a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1260,
        "y": 460,
        "wires": []
    },
    {
        "id": "17d1c98fbc65369f",
        "type": "pi-gpiod in",
        "z": "b95862809bf737a0",
        "name": "Turn On Radio",
        "host": "192.168.1.195",
        "port": 8888,
        "pin": "15",
        "intype": "PUD_UP",
        "debounce": "25",
        "read": false,
        "x": 100,
        "y": 480,
        "wires": [
            [
                "a485540450ec62d3"
            ]
        ]
    },
    {
        "id": "16cbe2aaecc6b7dd",
        "type": "debug",
        "z": "b95862809bf737a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "42d69fb7089800f4",
        "type": "change",
        "z": "b95862809bf737a0",
        "name": "Change 1 value to \"on\" for mpd player.",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 560,
        "wires": [
            [
                "16cbe2aaecc6b7dd",
                "ec56be5cd5108ef9"
            ]
        ]
    },
    {
        "id": "a485540450ec62d3",
        "type": "switch",
        "z": "b95862809bf737a0",
        "name": "Filter out 0 codes from button",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "42d69fb7089800f4"
            ],
            []
        ]
    },
    {
        "id": "940280275eb977fa",
        "type": "ui_button",
        "z": "b95862809bf737a0",
        "name": "",
        "group": "b81334ef34f56d2e",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Startup On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power_settings_new",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "ec56be5cd5108ef9"
            ]
        ]
    },
    {
        "id": "403ca135.8773f",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "FINAL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ea6c228.7792fe",
        "type": "join",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "c01e7353.5da95"
            ]
        ]
    },
    {
        "id": "384137a2.28f1d8",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "CLKedge",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CLK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "2ea6c228.7792fe",
                "2b6b0070.b21a3"
            ]
        ]
    },
    {
        "id": "c01e7353.5da95",
        "type": "switch",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "property": "CLKedge",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "5a7e456.9ff69bc",
                "6ba58f5d2be33b37"
            ]
        ]
    },
    {
        "id": "4ef1f45d.febfec",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "CLKedge",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "DT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 300,
        "wires": [
            [
                "2ea6c228.7792fe",
                "c7fd0442.1b4e18"
            ]
        ]
    },
    {
        "id": "5a7e456.9ff69bc",
        "type": "switch",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "property": "payload.CLK",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "c6969808.7e6a78",
                "73968c71f82fb94b"
            ],
            [
                "4cc4dd5a.e99f44"
            ]
        ]
    },
    {
        "id": "c6969808.7e6a78",
        "type": "switch",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "property": "payload.DT",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "bdba459a.564768"
            ],
            [
                "dde61eeb.26b8f"
            ]
        ]
    },
    {
        "id": "4cc4dd5a.e99f44",
        "type": "switch",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "property": "payload.DT",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "a10eb221.01cba"
            ],
            [
                "b8eb77db.d1e298"
            ]
        ]
    },
    {
        "id": "bdba459a.564768",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "clockwise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 200,
        "wires": [
            [
                "cc6d6356.1c6e9"
            ]
        ]
    },
    {
        "id": "dde61eeb.26b8f",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "anti-clockwise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "cc6d6356.1c6e9"
            ]
        ]
    },
    {
        "id": "b8eb77db.d1e298",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "clockwise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "cc6d6356.1c6e9"
            ]
        ]
    },
    {
        "id": "a10eb221.01cba",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "anti-clockwise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 280,
        "wires": [
            [
                "cc6d6356.1c6e9"
            ]
        ]
    },
    {
        "id": "2b6b0070.b21a3",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "c7fd0442.1b4e18",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "bbd4af0c.aef2c",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "STATUS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1000,
        "y": 320,
        "wires": []
    },
    {
        "id": "cc6d6356.1c6e9",
        "type": "function",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 955,
        "y": 240,
        "wires": [
            [
                "403ca135.8773f",
                "bbd4af0c.aef2c",
                "4bb1b947690442cf"
            ]
        ],
        "l": false
    },
    {
        "id": "e5ecb697.26c048",
        "type": "comment",
        "z": "bc01bad8ddff5abb",
        "name": "CLK",
        "info": "",
        "x": 50,
        "y": 60,
        "wires": []
    },
    {
        "id": "3cf589.899efa78",
        "type": "comment",
        "z": "bc01bad8ddff5abb",
        "name": "DT",
        "info": "",
        "x": 70,
        "y": 380,
        "wires": []
    },
    {
        "id": "9fb40a7aa1da97b4",
        "type": "mpd out",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 1460,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4bb1b947690442cf",
        "type": "switch",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "clockwise",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "anti-clockwise",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "0e837ce99f455c2c"
            ],
            [
                "32fa3e5cbdb3cb12"
            ]
        ]
    },
    {
        "id": "0e837ce99f455c2c",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "volume 5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 180,
        "wires": [
            [
                "9fb40a7aa1da97b4",
                "2e7932f8db95aa69"
            ]
        ]
    },
    {
        "id": "2e7932f8db95aa69",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1390,
        "y": 120,
        "wires": []
    },
    {
        "id": "32fa3e5cbdb3cb12",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "volume -5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 280,
        "wires": [
            [
                "9fb40a7aa1da97b4",
                "9f667f2929cf7696"
            ]
        ]
    },
    {
        "id": "6ba58f5d2be33b37",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "fbb9827fcc6889ae",
        "type": "inject",
        "z": "bc01bad8ddff5abb",
        "name": "What's volume?",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "getvol",
        "payloadType": "str",
        "x": 1240,
        "y": 380,
        "wires": [
            [
                "9fb40a7aa1da97b4"
            ]
        ]
    },
    {
        "id": "d6b873a040e5976d",
        "type": "pi-gpiod in",
        "z": "bc01bad8ddff5abb",
        "name": "Mute",
        "host": "192.168.1.195",
        "port": 8888,
        "pin": "4",
        "intype": "PUD_UP",
        "debounce": "25",
        "read": false,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "96e0be6d81585010"
            ]
        ]
    },
    {
        "id": "dcdfcf7726cb7f49",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1450,
        "y": 400,
        "wires": []
    },
    {
        "id": "96e0be6d81585010",
        "type": "switch",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "3fd82f6d7ddeb15b"
            ],
            []
        ]
    },
    {
        "id": "3fd82f6d7ddeb15b",
        "type": "trigger",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "op1": "getvol",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 440,
        "y": 420,
        "wires": [
            [
                "b5221ca3b560ba7a"
            ],
            []
        ]
    },
    {
        "id": "b5221ca3b560ba7a",
        "type": "mpd out",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "c97af53c3d0c30be"
            ]
        ]
    },
    {
        "id": "27cf88a098cbc7bc",
        "type": "trigger",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "val",
        "op2type": "val",
        "duration": "250",
        "extend": "false",
        "overrideDelay": "false",
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fd71f8bd5f6bbf5b",
        "type": "switch",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "property": "payload.volume",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "d55e4eaea7f732e2"
            ],
            [
                "ce9e9bac4894b47e",
                "45e384e1aa0a7e3b"
            ]
        ]
    },
    {
        "id": "a57a10676462ffb7",
        "type": "split",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "fd71f8bd5f6bbf5b"
            ]
        ]
    },
    {
        "id": "73968c71f82fb94b",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "Test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 576,
        "y": 173,
        "wires": []
    },
    {
        "id": "c97af53c3d0c30be",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "volume",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 500,
        "wires": [
            [
                "a57a10676462ffb7"
            ]
        ]
    },
    {
        "id": "9f667f2929cf7696",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1477,
        "y": 307,
        "wires": []
    },
    {
        "id": "d55e4eaea7f732e2",
        "type": "trigger",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "op1": "",
        "op2": "setvol 0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 1180,
        "y": 440,
        "wires": [
            [
                "230aa5f451a91c87"
            ],
            [
                "b5221ca3b560ba7a"
            ]
        ]
    },
    {
        "id": "230aa5f451a91c87",
        "type": "trigger",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "op1": "setvol",
        "op2": "",
        "op1type": "str",
        "op2type": "payl",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 2,
        "x": 1440,
        "y": 480,
        "wires": [
            [
                "923bc04b749b9f3e"
            ],
            [
                "d92d65066d8759bb"
            ]
        ]
    },
    {
        "id": "d92d65066d8759bb",
        "type": "split",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 1650,
        "y": 520,
        "wires": [
            [
                "8dfa5c8348fbea1c"
            ]
        ]
    },
    {
        "id": "176b8695b6ec62f1",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1930,
        "y": 460,
        "wires": []
    },
    {
        "id": "8170ba6538e605f1",
        "type": "trigger",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "resume",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1300,
        "y": 660,
        "wires": [
            [
                "ef07126fb443e485",
                "955017734c58f43c"
            ]
        ]
    },
    {
        "id": "bbf8a6b6ba8a668e",
        "type": "mpd out",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 1640,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f82f3ffe9a05e88c",
        "type": "inject",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "setvol 30",
        "payloadType": "str",
        "x": 1380,
        "y": 740,
        "wires": [
            [
                "bbf8a6b6ba8a668e"
            ]
        ]
    },
    {
        "id": "d8b7b7409f9358a7",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "final volume",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1170,
        "y": 720,
        "wires": []
    },
    {
        "id": "923bc04b749b9f3e",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "a",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'a' & payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c1d6d535d1c87124",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "volume2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1980,
        "y": 560,
        "wires": []
    },
    {
        "id": "8dfa5c8348fbea1c",
        "type": "template",
        "z": "bc01bad8ddff5abb",
        "name": "b",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "setvol {{payload}}",
        "output": "str",
        "x": 1810,
        "y": 520,
        "wires": [
            [
                "c1d6d535d1c87124",
                "8170ba6538e605f1"
            ]
        ]
    },
    {
        "id": "ce9e9bac4894b47e",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "ef07126fb443e485",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "final volume",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1622,
        "y": 618,
        "wires": []
    },
    {
        "id": "45e384e1aa0a7e3b",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "resume",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 660,
        "wires": [
            [
                "8170ba6538e605f1",
                "d8b7b7409f9358a7"
            ]
        ]
    },
    {
        "id": "955017734c58f43c",
        "type": "change",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 680,
        "wires": [
            [
                "6280f9859541d12e"
            ]
        ]
    },
    {
        "id": "6280f9859541d12e",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "final volume",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1783,
        "y": 689,
        "wires": []
    },
    {
        "id": "ca8b29140516ab50",
        "type": "debug",
        "z": "bc01bad8ddff5abb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "2c40d42d.176cbc",
        "type": "debug",
        "z": "0288e21abfc3a4a0",
        "name": "STATUS_FUNCTION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "e2775f3d.af2bd",
        "type": "change",
        "z": "0288e21abfc3a4a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CLK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "c4b142c4.477fe"
            ]
        ]
    },
    {
        "id": "27e7e692.0d532a",
        "type": "change",
        "z": "0288e21abfc3a4a0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "DT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "c4b142c4.477fe"
            ]
        ]
    },
    {
        "id": "c4b142c4.477fe",
        "type": "function",
        "z": "0288e21abfc3a4a0",
        "name": "",
        "func": "var CLK;\n\n\nif ((msg['topic']) == 'CLK') {\n  CLK = (msg['payload']);\n  if (context.keys().includes('DT')) {\n    if (CLK != (context.get('DT'))) {\n      msg['payload'] = 'clockwise';\n    } else {\n      msg['payload'] = 'anti-clockwise';\n    }\n    return msg;\n  }\n} else {\n  context.set('DT', (msg['payload']));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "2c40d42d.176cbc"
            ]
        ]
    },
    {
        "id": "1531b07b.ff934",
        "type": "comment",
        "z": "0288e21abfc3a4a0",
        "name": "CLK",
        "info": "",
        "x": 250,
        "y": 180,
        "wires": []
    },
    {
        "id": "9aa49914.0e8cd8",
        "type": "comment",
        "z": "0288e21abfc3a4a0",
        "name": "DT",
        "info": "",
        "x": 250,
        "y": 340,
        "wires": []
    },
    {
        "id": "a5d7e79bc50fd09c",
        "type": "debug",
        "z": "0288e21abfc3a4a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "0163266758e6e209",
        "type": "mqtt in",
        "z": "0288e21abfc3a4a0",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto",
        "broker": "34a0d767.dc2698",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "a5d7e79bc50fd09c"
            ]
        ]
    },
    {
        "id": "495cad17a6d461ef",
        "type": "mqtt out",
        "z": "0288e21abfc3a4a0",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "34a0d767.dc2698",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "a61c8ec541b029c5",
        "type": "inject",
        "z": "0288e21abfc3a4a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test",
        "payload": "butts",
        "payloadType": "str",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "495cad17a6d461ef"
            ]
        ]
    },
    {
        "id": "8ccddb9a.a55f38",
        "type": "inject",
        "z": "7bd611cbf2a1aa54",
        "name": "temperature",
        "props": [
            {
                "p": "payload",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "temperature",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "10",
        "payloadType": "num",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "47b769c5.cb0e28",
        "type": "join",
        "z": "7bd611cbf2a1aa54",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 140,
        "wires": [
            [
                "f9afb265.b11b7"
            ]
        ]
    },
    {
        "id": "f9afb265.b11b7",
        "type": "debug",
        "z": "7bd611cbf2a1aa54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "2d269127.4f04ce",
        "type": "inject",
        "z": "7bd611cbf2a1aa54",
        "name": "humidity",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "",
        "payloadType": "num",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "d6fbe805.0e4628",
        "type": "inject",
        "z": "7bd611cbf2a1aa54",
        "name": "pressure",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "999",
        "payloadType": "num",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "47b769c5.cb0e28"
            ]
        ]
    },
    {
        "id": "39383604ad2f9c0d",
        "type": "inject",
        "z": "7bd611cbf2a1aa54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "505e3156d91e2323"
            ]
        ]
    },
    {
        "id": "351a5df423f7783d",
        "type": "debug",
        "z": "7bd611cbf2a1aa54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "505e3156d91e2323",
        "type": "i2c scan",
        "z": "7bd611cbf2a1aa54",
        "name": "",
        "busno": "1",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "351a5df423f7783d"
            ],
            [
                "93b265fb8460b099"
            ]
        ]
    },
    {
        "id": "93b265fb8460b099",
        "type": "debug",
        "z": "7bd611cbf2a1aa54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 494,
        "y": 376,
        "wires": []
    },
    {
        "id": "6f98c1d2d6abbe9a",
        "type": "debug",
        "z": "e6e1255c6ef33baf",
        "name": "STATUS_FUNCTION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "405040f6efcca662",
        "type": "change",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "CLK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "575c3b88f3c82fb2"
            ]
        ]
    },
    {
        "id": "3c039106bf66a783",
        "type": "change",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "DT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "575c3b88f3c82fb2"
            ]
        ]
    },
    {
        "id": "575c3b88f3c82fb2",
        "type": "function",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "func": "var CLK;\n\n\nif ((msg['topic']) == 'CLK') {\n  CLK = (msg['payload']);\n  if (context.keys().includes('DT')) {\n    if (CLK != (context.get('DT'))) {\n      msg['payload'] = 'clockwise';\n    } else {\n      msg['payload'] = 'anti-clockwise';\n    }\n    return msg;\n  }\n} else {\n  context.set('DT', (msg['payload']));\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "6f98c1d2d6abbe9a"
            ]
        ]
    },
    {
        "id": "0dd3d099e1057a82",
        "type": "comment",
        "z": "e6e1255c6ef33baf",
        "name": "CLK",
        "info": "",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "b7515c7ff83d3476",
        "type": "comment",
        "z": "e6e1255c6ef33baf",
        "name": "DT",
        "info": "",
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "fb3ee5314d2bd683",
        "type": "rpi-gpio in",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "pin": "14",
        "intype": "tri",
        "debounce": "0",
        "read": true,
        "bcm": true,
        "x": 90,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b43ac05b8cb463b2",
        "type": "rpi-gpio in",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "pin": "15",
        "intype": "tri",
        "debounce": "0",
        "read": true,
        "bcm": true,
        "x": 90,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f070a232df54a888",
        "type": "pi-gpiod in",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "host": "192.168.1.195",
        "port": 8888,
        "pin": "14",
        "intype": "PUD_OFF",
        "debounce": "0",
        "read": false,
        "x": 50,
        "y": 80,
        "wires": [
            [
                "405040f6efcca662"
            ]
        ]
    },
    {
        "id": "3356a64dbe8e9468",
        "type": "pi-gpiod in",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "host": "192.168.1.195",
        "port": 8888,
        "pin": "15",
        "intype": "PUD_OFF",
        "debounce": "0",
        "read": false,
        "x": 98,
        "y": 323,
        "wires": [
            [
                "3c039106bf66a783"
            ]
        ]
    },
    {
        "id": "b817e02395622e42",
        "type": "debug",
        "z": "e6e1255c6ef33baf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 320,
        "wires": []
    }
]