flow.json
[
    {
        "id": "3759fe67.7b9ee2",
        "type": "tab",
        "label": "radio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "348fc81415b95f23",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b95862809bf737a0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "979ccdc6c31f7dfc",
        "type": "group",
        "z": "3759fe67.7b9ee2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "881c0a7c.ee1848",
            "d83a4165.03ede",
            "1c5f7f7f.03c551",
            "12f6e15b.23b02f",
            "77c52a50.4ecdb4",
            "f02ff6bf.b164e8",
            "d6ae2ca2.b2b9",
            "a2dc2f09.18f09",
            "d7a18747.cfdc68",
            "0a990f96e7925184",
            "6fcfb55172d735c3",
            "06196e65ad487c72",
            "aefb1af18c4cc1b5",
            "ae6d61a0d991514e"
        ],
        "x": 34,
        "y": 519,
        "w": 632,
        "h": 502
    },
    {
        "id": "b16d2044895ba57c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8d59a60d.eac0c8",
        "type": "mpd-server",
        "host": "192.168.1.198",
        "port": "6600"
    },
    {
        "id": "c95792e6.e5d7c",
        "type": "ui_group",
        "name": "Control",
        "tab": "6c1d062c.feae98",
        "order": 1,
        "disp": false,
        "width": 8
    },
    {
        "id": "9f8f49b7.632f88",
        "type": "ui_group",
        "name": "Zenderkeuze",
        "tab": "6c1d062c.feae98",
        "order": 3,
        "disp": false,
        "width": 8
    },
    {
        "id": "e5a71767.1a27d8",
        "type": "ui_group",
        "name": "Radio",
        "tab": "6c1d062c.feae98",
        "order": 2,
        "disp": false,
        "width": 8
    },
    {
        "id": "6c1d062c.feae98",
        "type": "ui_tab",
        "name": "Web Radio",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "cff511fa.bd1cc",
        "type": "ui_group",
        "name": "Radio",
        "tab": "23cd7a71.311de6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ccfe28f3.9343a8",
        "type": "mpd-server",
        "host": "192.168.1.198",
        "port": "6600"
    },
    {
        "id": "f79bab65.368118",
        "type": "ui_group",
        "name": "Now Playing",
        "tab": "23cd7a71.311de6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cd4131b9.92a1e",
        "type": "ui_group",
        "name": "Music",
        "tab": "23cd7a71.311de6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "23cd7a71.311de6",
        "type": "ui_tab",
        "name": "Radio/Music",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ec33d4cb.26cea8",
        "type": "mpd out",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 420,
        "y": 460,
        "wires": [
            [
                "66fce2f5.ce706c",
                "ab1570d5f9cbaf1f"
            ]
        ]
    },
    {
        "id": "8538be0a.a720c",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "play",
        "group": "c95792e6.e5d7c",
        "order": 8,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-play",
        "payload": "play",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "c3d3bd55.edf2a",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "stop",
        "group": "c95792e6.e5d7c",
        "order": 6,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-stop",
        "payload": "stop",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "395cdf00.36a0e2",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "previous",
        "group": "c95792e6.e5d7c",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-backward",
        "payload": "previous",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "eec9e028.9f33b",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "next",
        "group": "c95792e6.e5d7c",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-forward",
        "payload": "next",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "8e3320b3.beb8",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "Stop playing",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "fdaec1.0dbe514",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "pause",
        "group": "c95792e6.e5d7c",
        "order": 7,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-pause",
        "payload": "pause",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "a3b2925b.5504",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "setvol 100",
        "payloadType": "str",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "1c5f7f7f.03c551",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "WOUB",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 3",
        "payloadType": "str",
        "topic": "3",
        "topicType": "str",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "12f6e15b.23b02f",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Folk Alley",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 4",
        "payloadType": "str",
        "topic": "4",
        "topicType": "str",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "df9f59a2.8de248",
        "type": "ui_template",
        "z": "3759fe67.7b9ee2",
        "group": "c95792e6.e5d7c",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 2,
        "format": "<!DOCTYPE html> \n<div>\n    <h3>{{msg.payload.status.state}} channel\n    {{msg.payload.currentsong.Pos}}\n    {{msg.payload.currentsong.Name}}</h3>\n    <p></p>\n    <h4>{{msg.payload.currentsong.Title}}</h4>\n</div>\n",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ac0a38c3.1bc338",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "volume up",
        "group": "c95792e6.e5d7c",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-up",
        "payload": "volume +2",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "546f217d.12b28",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "volume down",
        "group": "c95792e6.e5d7c",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-volume-down",
        "payload": "volume -2",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "e2486a00.bb5c18",
        "type": "ui_template",
        "z": "3759fe67.7b9ee2",
        "group": "e5a71767.1a27d8",
        "name": "volume",
        "order": 1,
        "width": 8,
        "height": 1,
        "format": "<!DOCTYPE html> \n<div>\n    <h4>Volume Level {{msg.payload.status.volume}}%</h4>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "881c0a7c.ee1848",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "89.7 News",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 1",
        "payloadType": "str",
        "topic": "1",
        "topicType": "str",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3",
                "16c0eedd98a7a64e"
            ]
        ]
    },
    {
        "id": "d83a4165.03ede",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Classical 101",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 2",
        "payloadType": "str",
        "topic": "2",
        "topicType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "77c52a50.4ecdb4",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 9,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "The Globe",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 5",
        "payloadType": "str",
        "topic": "5",
        "topicType": "str",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "f02ff6bf.b164e8",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "WCBE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 6",
        "payloadType": "str",
        "topic": "6",
        "topicType": "str",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "d6ae2ca2.b2b9",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Cleveland Classical Music",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 7",
        "payloadType": "str",
        "topic": "7",
        "topicType": "str",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "a2dc2f09.18f09",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 15,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Toledo The River",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 8",
        "payloadType": "str",
        "topic": "8",
        "topicType": "str",
        "x": 150,
        "y": 940,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "d7a18747.cfdc68",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "BBC World Service",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "play 9",
        "payloadType": "str",
        "topic": "9",
        "topicType": "str",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "0a990f96e7925184",
                "6fcfb55172d735c3"
            ]
        ]
    },
    {
        "id": "aade4bbf.9cd4a8",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "group": "9f8f49b7.632f88",
        "order": 19,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Radio 5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "play 10",
        "payloadType": "str",
        "topic": "10",
        "x": 80,
        "y": 1060,
        "wires": [
            [
                "0a990f96e7925184"
            ]
        ]
    },
    {
        "id": "c6bbf887.f89ae8",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "clear database",
        "props": [
            {
                "p": "payload",
                "v": "clear",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "clear",
        "payloadType": "str",
        "x": 140,
        "y": 74,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "da16ba75.7964f8",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "load playlist radio",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "load stations",
        "payloadType": "str",
        "x": 139,
        "y": 108,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "fd1329c3.7fb778",
        "type": "inject",
        "z": "3759fe67.7b9ee2",
        "name": "play radio 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "play 0",
        "payloadType": "str",
        "x": 129,
        "y": 142,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "8ed03f54.1cae7",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 1 -",
        "info": "",
        "x": 294,
        "y": 40,
        "wires": []
    },
    {
        "id": "75d8660c.c0ba48",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 2 -",
        "info": "",
        "x": 295,
        "y": 74,
        "wires": []
    },
    {
        "id": "24e42fc0.b332c",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 3 -",
        "info": "",
        "x": 295,
        "y": 108,
        "wires": []
    },
    {
        "id": "b7a06fcd.807d6",
        "type": "comment",
        "z": "3759fe67.7b9ee2",
        "name": "<<< - 4 -",
        "info": "",
        "x": 295,
        "y": 142,
        "wires": []
    },
    {
        "id": "c4734f74.b49be",
        "type": "mpd in",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 430,
        "y": 180,
        "wires": [
            [
                "df9f59a2.8de248",
                "e2486a00.bb5c18"
            ]
        ]
    },
    {
        "id": "deaeff28.27577",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 2,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "e8493acd.2ee8c8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 4,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "66fce2f5.ce706c",
        "type": "switch",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 22,
        "x": 570,
        "y": 460,
        "wires": [
            [
                "a119725f.b8c0d"
            ],
            [
                "8734da82.1b1f08"
            ],
            [
                "2d165e17.4ab592"
            ],
            [
                "35d63540.b3f32a"
            ],
            [
                "d491b198.cf1c"
            ],
            [
                "e5b0bc0a.08dfb"
            ],
            [
                "a9b5278.69f33d8"
            ],
            [
                "b971c6ac.fb4cb8"
            ],
            [
                "43492de2.047894"
            ],
            [
                "37f366c1.7478aa"
            ],
            [
                "9b8ba774.3cb5a8"
            ],
            [
                "32b4423d.1fbdce"
            ],
            [
                "2b585705.a47558"
            ],
            [
                "e90c7de1.d7bbc"
            ],
            [
                "351b7bef.6944b4"
            ],
            [
                "4c9ed121.c6d38"
            ],
            [
                "31350292.2ff40e"
            ],
            [
                "ab33aef.26fbc5"
            ],
            [
                "13bcee51.61dae2"
            ],
            [
                "5b900639.835578"
            ],
            [],
            []
        ]
    },
    {
        "id": "a119725f.b8c0d",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "deaeff28.27577"
            ]
        ]
    },
    {
        "id": "8734da82.1b1f08",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 160,
        "wires": [
            [
                "deaeff28.27577"
            ]
        ]
    },
    {
        "id": "2d165e17.4ab592",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "e8493acd.2ee8c8"
            ]
        ]
    },
    {
        "id": "35d63540.b3f32a",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "e8493acd.2ee8c8"
            ]
        ]
    },
    {
        "id": "d491b198.cf1c",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "80061e72.51e19"
            ]
        ]
    },
    {
        "id": "e5b0bc0a.08dfb",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "80061e72.51e19"
            ]
        ]
    },
    {
        "id": "a9b5278.69f33d8",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "d7a36558.2e1248"
            ]
        ]
    },
    {
        "id": "b971c6ac.fb4cb8",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 280,
        "wires": [
            [
                "d7a36558.2e1248"
            ]
        ]
    },
    {
        "id": "43492de2.047894",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 300,
        "wires": [
            [
                "fba79c03.426ce"
            ]
        ]
    },
    {
        "id": "fba79c03.426ce",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 10,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "80061e72.51e19",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 6,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "d7a36558.2e1248",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 8,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "37f366c1.7478aa",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 320,
        "wires": [
            [
                "fba79c03.426ce"
            ]
        ]
    },
    {
        "id": "95715cea.aced4",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 12,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "b716ca2b.722bf8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 14,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b8ba774.3cb5a8",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "95715cea.aced4"
            ]
        ]
    },
    {
        "id": "32b4423d.1fbdce",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 360,
        "wires": [
            [
                "95715cea.aced4"
            ]
        ]
    },
    {
        "id": "2b585705.a47558",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 380,
        "wires": [
            [
                "b716ca2b.722bf8"
            ]
        ]
    },
    {
        "id": "e90c7de1.d7bbc",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 400,
        "wires": [
            [
                "b716ca2b.722bf8"
            ]
        ]
    },
    {
        "id": "351b7bef.6944b4",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 420,
        "wires": [
            [
                "c6e8a157.93f64"
            ]
        ]
    },
    {
        "id": "4c9ed121.c6d38",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 440,
        "wires": [
            [
                "c6e8a157.93f64"
            ]
        ]
    },
    {
        "id": "31350292.2ff40e",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "8117f672.8b23a8"
            ]
        ]
    },
    {
        "id": "ab33aef.26fbc5",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 480,
        "wires": [
            [
                "8117f672.8b23a8"
            ]
        ]
    },
    {
        "id": "13bcee51.61dae2",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "7ef916d0.6ea4c8"
            ]
        ]
    },
    {
        "id": "7ef916d0.6ea4c8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 20,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 500,
        "wires": []
    },
    {
        "id": "c6e8a157.93f64",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 16,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "8117f672.8b23a8",
        "type": "ui_led",
        "z": "3759fe67.7b9ee2",
        "order": 18,
        "group": "9f8f49b7.632f88",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "rgb(70,1,1)",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "5b900639.835578",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "name": "10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 520,
        "wires": [
            [
                "7ef916d0.6ea4c8"
            ]
        ]
    },
    {
        "id": "06196e65ad487c72",
        "type": "ui_button",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "Clear Playlist",
        "group": "e5a71767.1a27d8",
        "order": 9,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backspace",
        "payload": "clear",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "168e3012fcf38d4e",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 840,
        "wires": []
    },
    {
        "id": "0a990f96e7925184",
        "type": "trigger",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 780,
        "wires": [
            [
                "168e3012fcf38d4e",
                "aefb1af18c4cc1b5"
            ]
        ]
    },
    {
        "id": "e087bec7beb7223c",
        "type": "switch",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "2b41e55c6721654c",
        "type": "batch",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 690,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "6fcfb55172d735c3",
        "type": "trigger",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "op1": "clear",
        "op2": "load stations",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "ec33d4cb.26cea8",
                "ae6d61a0d991514e"
            ]
        ]
    },
    {
        "id": "ab1570d5f9cbaf1f",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "aefb1af18c4cc1b5",
        "type": "change",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "Change Station number",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 1",
                "fromt": "str",
                "to": "play 0",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 2",
                "fromt": "str",
                "to": "play 1",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 3",
                "fromt": "str",
                "to": "play 2",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 4",
                "fromt": "str",
                "to": "play 5",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 6",
                "fromt": "str",
                "to": "play 5",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 7",
                "fromt": "str",
                "to": "play 6",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 8",
                "fromt": "str",
                "to": "play 7",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 9",
                "fromt": "str",
                "to": "play 8",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "play 10",
                "fromt": "str",
                "to": "play 9",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 900,
        "wires": [
            [
                "e0b9bff7bc2f83af",
                "ec33d4cb.26cea8"
            ]
        ]
    },
    {
        "id": "16c0eedd98a7a64e",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 431,
        "y": 703,
        "wires": []
    },
    {
        "id": "ae6d61a0d991514e",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "g": "979ccdc6c31f7dfc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "e0b9bff7bc2f83af",
        "type": "debug",
        "z": "3759fe67.7b9ee2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 900,
        "wires": []
    },
    {
        "id": "9f21278f.22b758",
        "type": "ui_dropdown",
        "z": "348fc81415b95f23",
        "name": "",
        "label": "Station:",
        "place": "Select option",
        "group": "cff511fa.bd1cc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Radio 1",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Radio 2",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Radio 3",
                "value": "2",
                "type": "str"
            },
            {
                "label": "Radio 4",
                "value": "3",
                "type": "str"
            },
            {
                "label": "Radio 5",
                "value": "4",
                "type": "str"
            },
            {
                "label": "Radio 6",
                "value": "5",
                "type": "str"
            },
            {
                "label": "Classic Rock",
                "value": "6",
                "type": "str"
            },
            {
                "label": "Planet Rock",
                "value": "7",
                "type": "str"
            },
            {
                "label": "Union Jack",
                "value": "8",
                "type": "str"
            },
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "a126988c.d76c88"
            ]
        ]
    },
    {
        "id": "13aa2c55.b7e3d4",
        "type": "mpd out",
        "z": "348fc81415b95f23",
        "name": "",
        "topic": "",
        "server": "ccfe28f3.9343a8",
        "x": 716,
        "y": 412,
        "wires": [
            []
        ]
    },
    {
        "id": "302a91a4.18cb3e",
        "type": "mpd in",
        "z": "348fc81415b95f23",
        "name": "Docker MPD input",
        "topic": "",
        "server": "ccfe28f3.9343a8",
        "x": 96,
        "y": 53,
        "wires": [
            [
                "1786b616.ee5e3a",
                "9cb5813a.c35c8",
                "efa1fd14.1b9bc"
            ]
        ]
    },
    {
        "id": "a126988c.d76c88",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "play x",
        "func": "var temp = msg.payload;\n\ntemp = \"play \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 240,
        "wires": [
            [
                "13aa2c55.b7e3d4"
            ]
        ]
    },
    {
        "id": "1786b616.ee5e3a",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Title",
        "func": "var temp = msg.payload.currentsong.Title;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 401,
        "y": 54,
        "wires": [
            [
                "e5e3b77b.3ad4b8"
            ]
        ]
    },
    {
        "id": "e5e3b77b.3ad4b8",
        "type": "ui_text",
        "z": "348fc81415b95f23",
        "group": "f79bab65.368118",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Track:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 706,
        "y": 55,
        "wires": []
    },
    {
        "id": "f3a3fe7e.386b1",
        "type": "ui_dropdown",
        "z": "348fc81415b95f23",
        "name": "",
        "label": "Add Playlist:",
        "place": "Select option",
        "group": "cd4131b9.92a1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "None",
                "value": "None",
                "type": "str"
            },
            {
                "label": "Taj Mahal",
                "value": "TajMahal",
                "type": "str"
            },
            {
                "label": "The Nice",
                "value": "TheNice",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 408,
        "y": 554,
        "wires": [
            [
                "346fb1fa.aebc2e",
                "a4d2b058.86043"
            ]
        ]
    },
    {
        "id": "346fb1fa.aebc2e",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "load",
        "func": "var temp = msg.payload;\n\nif(temp===\"None\") return null;\n\ntemp = \"load \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 568,
        "y": 553,
        "wires": [
            [
                "13aa2c55.b7e3d4"
            ]
        ]
    },
    {
        "id": "efa1fd14.1b9bc",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Artist",
        "func": "var temp = msg.payload.currentsong.Artist;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 401,
        "y": 100,
        "wires": [
            [
                "8da9f70d.221338"
            ]
        ]
    },
    {
        "id": "9cb5813a.c35c8",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Album",
        "func": "var temp = msg.payload.currentsong.Album;\n\nif (typeof temp === \"undefined\") temp = \"\";\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 403,
        "y": 146,
        "wires": [
            [
                "c17fcf5b.c40a4"
            ]
        ]
    },
    {
        "id": "c17fcf5b.c40a4",
        "type": "ui_text",
        "z": "348fc81415b95f23",
        "group": "cd4131b9.92a1e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Album",
        "label": "Album:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 706,
        "y": 144,
        "wires": []
    },
    {
        "id": "8da9f70d.221338",
        "type": "ui_text",
        "z": "348fc81415b95f23",
        "group": "cd4131b9.92a1e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Artist",
        "label": "Artist:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 706,
        "y": 98,
        "wires": []
    },
    {
        "id": "ac5a7f4f.cac37",
        "type": "ui_button",
        "z": "348fc81415b95f23",
        "name": "previous",
        "group": "cd4131b9.92a1e",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-step-backward",
        "payload": "previous",
        "payloadType": "str",
        "topic": "",
        "x": 392,
        "y": 664,
        "wires": [
            [
                "13aa2c55.b7e3d4"
            ]
        ]
    },
    {
        "id": "efa5885f.9ec668",
        "type": "ui_button",
        "z": "348fc81415b95f23",
        "name": "next",
        "group": "cd4131b9.92a1e",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-step-forward",
        "payload": "next",
        "payloadType": "str",
        "topic": "",
        "x": 567,
        "y": 665,
        "wires": [
            [
                "13aa2c55.b7e3d4"
            ]
        ]
    },
    {
        "id": "d4d226f4.6a0448",
        "type": "ui_button",
        "z": "348fc81415b95f23",
        "name": "",
        "group": "cd4131b9.92a1e",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Clear list",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "",
        "x": 412,
        "y": 617,
        "wires": [
            [
                "13aa2c55.b7e3d4",
                "93a65892.964f98"
            ]
        ]
    },
    {
        "id": "2ae4d76e.9a1628",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "Random",
        "label": "",
        "group": "cd4131b9.92a1e",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "random 1",
        "onvalueType": "str",
        "onicon": "fa-random",
        "oncolor": "#00FF00",
        "offvalue": "random 0",
        "offvalueType": "str",
        "officon": "fa-random",
        "offcolor": "#FF0000",
        "x": 457,
        "y": 492,
        "wires": [
            [
                "13aa2c55.b7e3d4"
            ]
        ]
    },
    {
        "id": "ac38d0e4.5b5ce",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "PlayPause",
        "label": "",
        "group": "cd4131b9.92a1e",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "play",
        "onvalueType": "str",
        "onicon": "fa-play",
        "oncolor": "#FFFFFF",
        "offvalue": "pause",
        "offvalueType": "str",
        "officon": "fa-pause",
        "offcolor": "#FFFFFF",
        "x": 465,
        "y": 446,
        "wires": [
            [
                "13aa2c55.b7e3d4"
            ]
        ]
    },
    {
        "id": "be23d26d.08085",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "Radio",
        "label": "",
        "group": "f79bab65.368118",
        "order": 1,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "fa-rss-square",
        "oncolor": "#00FF00",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "fa-rss-square",
        "offcolor": "#FF0000",
        "x": 73,
        "y": 307,
        "wires": [
            [
                "10e7765d.ecbf9a"
            ]
        ]
    },
    {
        "id": "b257caf0.f0c298",
        "type": "ui_switch",
        "z": "348fc81415b95f23",
        "name": "Music",
        "label": "",
        "group": "f79bab65.368118",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "On",
        "onvalueType": "str",
        "onicon": "my_library_music",
        "oncolor": "#00FF00",
        "offvalue": "Off",
        "offvalueType": "str",
        "officon": "my_library_music",
        "offcolor": "#FF0000",
        "x": 76,
        "y": 422,
        "wires": [
            [
                "cfc9a604.5a05f8"
            ]
        ]
    },
    {
        "id": "10e7765d.ecbf9a",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Radio on/off",
        "func": "var temp = msg.payload;\n\nif(temp===\"On\") {\n    temp=\"Off\";\n\nvar msg1 = {\n    payload:temp\n};\n\nvar msg2 = {\n    payload: \"load stations\"\n};\n\nvar msg3 = {\n    payload: \"3\"\n};\n\nreturn [msg1,msg2,msg3];\n}\nvar msg2 = {\n    payload: \"clear\"\n};\nreturn [null,msg2, null];",
        "outputs": "3",
        "noerr": 0,
        "x": 221,
        "y": 307,
        "wires": [
            [
                "b257caf0.f0c298"
            ],
            [
                "13aa2c55.b7e3d4"
            ],
            [
                "458aa80.4965d58"
            ]
        ]
    },
    {
        "id": "cfc9a604.5a05f8",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "Music on/off",
        "func": "var temp = msg.payload;\n\nif(temp===\"On\") {\n    temp=\"Off\";\n\nvar msg1 = {\n    payload:temp\n};\n\nvar msg3 = { payload: \"pause\"};\n\nvar msg4 = {payload: \"None\"};\n\nvar msg5 = {payload:\"random 0\"}\n\nreturn [msg1,null,msg3,msg4,msg5];\n}\nvar msg2 = {\n    payload: \"clear\"\n};\nreturn [null,msg2,null,null,null];",
        "outputs": "5",
        "noerr": 0,
        "x": 224,
        "y": 422,
        "wires": [
            [
                "be23d26d.08085"
            ],
            [
                "13aa2c55.b7e3d4"
            ],
            [
                "ac38d0e4.5b5ce"
            ],
            [
                "f3a3fe7e.386b1"
            ],
            [
                "2ae4d76e.9a1628"
            ]
        ]
    },
    {
        "id": "458aa80.4965d58",
        "type": "delay",
        "z": "348fc81415b95f23",
        "name": "100ms",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 491,
        "y": 324,
        "wires": [
            [
                "9f21278f.22b758"
            ]
        ]
    },
    {
        "id": "a4d2b058.86043",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "pause",
        "func": "var msg = {payload: \"pause\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 247,
        "y": 501,
        "wires": [
            [
                "ac38d0e4.5b5ce"
            ]
        ]
    },
    {
        "id": "93a65892.964f98",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "None",
        "func": "var msg = {payload: \"None\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 244,
        "y": 554,
        "wires": [
            [
                "f3a3fe7e.386b1"
            ]
        ]
    },
    {
        "id": "2adf1de1.63b102",
        "type": "ui_slider",
        "z": "348fc81415b95f23",
        "name": "Volume",
        "label": "",
        "group": "f79bab65.368118",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 79,
        "y": 200,
        "wires": [
            [
                "86c9ddb9.939c2"
            ]
        ]
    },
    {
        "id": "86c9ddb9.939c2",
        "type": "function",
        "z": "348fc81415b95f23",
        "name": "setvol",
        "func": "var temp = msg.payload;\n\ntemp = \"setvol \" + temp;\n\nvar msg = {\n    payload:temp\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 549,
        "y": 196,
        "wires": [
            [
                "13aa2c55.b7e3d4"
            ]
        ]
    },
    {
        "id": "8444bdbe64f385ad",
        "type": "mpd out",
        "z": "b95862809bf737a0",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "71bfe3e94287f05e"
            ]
        ]
    },
    {
        "id": "3ed2e67e311e76e1",
        "type": "inject",
        "z": "b95862809bf737a0",
        "name": "Volume 30",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "setvol 45",
        "payloadType": "str",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "8444bdbe64f385ad"
            ]
        ]
    },
    {
        "id": "74ef1a28e272d45d",
        "type": "comment",
        "z": "b95862809bf737a0",
        "name": "Volume",
        "info": "Sets volume to a reasonable level. Default is to go to 100 right away. ",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "994c3125da883795",
        "type": "mpd out",
        "z": "b95862809bf737a0",
        "name": "",
        "topic": "",
        "server": "8d59a60d.eac0c8",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "e99867b3003dfada"
            ]
        ]
    },
    {
        "id": "e99867b3003dfada",
        "type": "debug",
        "z": "b95862809bf737a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 360,
        "y": 300,
        "wires": []
    },
    {
        "id": "71bfe3e94287f05e",
        "type": "debug",
        "z": "b95862809bf737a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 614,
        "y": 165,
        "wires": []
    },
    {
        "id": "3ceab05481cb6e31",
        "type": "inject",
        "z": "b95862809bf737a0",
        "name": "List Songs in stations playlist",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "listplaylistinfo stations",
        "payloadType": "str",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "994c3125da883795"
            ]
        ]
    },
    {
        "id": "394c974249180943",
        "type": "inject",
        "z": "b95862809bf737a0",
        "name": "Load Classical 101",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "load stations 1",
        "payloadType": "str",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "611b9f1e4f9ccfeb"
            ]
        ]
    },
    {
        "id": "bad7e3d103a28ad5",
        "type": "exec",
        "z": "b95862809bf737a0",
        "command": "",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 270,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f29e44342f8687ec",
        "type": "complete",
        "z": "b95862809bf737a0",
        "name": "Classical Loaded",
        "scope": [
            "394c974249180943"
        ],
        "uncaught": false,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "534b7898d8f62169"
            ]
        ]
    },
    {
        "id": "534b7898d8f62169",
        "type": "debug",
        "z": "b95862809bf737a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "320fc5acf669a0b0",
        "type": "status",
        "z": "b95862809bf737a0",
        "name": "",
        "scope": [
            "994c3125da883795"
        ],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "5ad8ce64d2f28ae1"
            ]
        ]
    },
    {
        "id": "5ad8ce64d2f28ae1",
        "type": "debug",
        "z": "b95862809bf737a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 632,
        "y": 222,
        "wires": []
    },
    {
        "id": "844211fef410f862",
        "type": "mpd in",
        "z": "b95862809bf737a0",
        "name": "",
        "topic": "currentsong file",
        "server": "8d59a60d.eac0c8",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "4d26705c28f0f611"
            ]
        ]
    },
    {
        "id": "4d26705c28f0f611",
        "type": "debug",
        "z": "b95862809bf737a0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "611b9f1e4f9ccfeb",
        "type": "trigger",
        "z": "b95862809bf737a0",
        "name": "play",
        "op1": "play 0",
        "op2": "setvol 35",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "994c3125da883795"
            ]
        ]
    },
    {
        "id": "dd10f3545a11b59e",
        "type": "inject",
        "z": "b95862809bf737a0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "playlist",
        "payloadType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "994c3125da883795"
            ]
        ]
    }
]